**DATA LOADING**

In [7]:
from google.colab import files
uploaded = files.upload()
import pandas as pd

df = pd.read_csv("paddy_yield_statistics_Sri_Lanka_Department_Of_Cencus_and_Statistics.csv")

df.head()
df.shape
df.columns
df.info()

Saving paddy_yield_statistics_Sri_Lanka_Department_Of_Cencus_and_Statistics.csv to paddy_yield_statistics_Sri_Lanka_Department_Of_Cencus_and_Statistics (2).csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2268 entries, 0 to 2267
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              2268 non-null   object
 1   District          2268 non-null   object
 2   Season            2268 non-null   object
 3   Sown Extent       2268 non-null   object
 4   Harvested Extent  2268 non-null   object
 5   Waterfed Major    2268 non-null   object
 6   Waterfed Minor    2268 non-null   object
 7   Rainfed           2268 non-null   object
 8   Yield Extent      2268 non-null   object
dtypes: object(9)
memory usage: 159.6+ KB

In [9]:
# Column Renaming
df.columns = df.columns.str.strip().str.replace(" ", "_")
df.columns

Index(['Year', 'District', 'Season', 'Sown_Extent', 'Harvested_Extent',
       'Waterfed_Major', 'Waterfed_Minor', 'Rainfed', 'Yield_Extent'],
      dtype='object')

In [10]:
# Data Type Conversion
num_cols = [
    'Sown_Extent',
    'Harvested_Extent',
    'Waterfed_Major',
    'Waterfed_Minor',
    'Rainfed',
    'Yield_Extent'
]

for col in num_cols:
    df[col] = df[col].str.replace(',', '', regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce')

df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2268 entries, 0 to 2267
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              1134 non-null   float64
 1   District          2268 non-null   object
 2   Season            2268 non-null   object
 3   Sown_Extent       2117 non-null   float64
 4   Harvested_Extent  2122 non-null   float64
 5   Waterfed_Major    1940 non-null   float64
 6   Waterfed_Minor    1943 non-null   float64
 7   Rainfed           1773 non-null   float64
 8   Yield_Extent      2172 non-null   float64
dtypes: float64(7), object(2)
memory usage: 159.6+ KB

In [12]:
# Missing Value Handling
df.isnull().sum()
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())

In [13]:
# Remove Duplicates
df = df.drop_duplicates()

In [14]:
# Feature and Target Selection
X = df.drop('Yield_Extent', axis=1)
y = df['Yield_Extent']

In [15]:
# Encoding Categorical Data
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in ['District', 'Season']:
    X[col] = le.fit_transform(X[col])

In [16]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [17]:
# Train Test Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42
)

In [20]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df

         Year       District Season    Sown_Extent  Harvested_Extent  \
0         NaN        COLOMBO   Maha   18577.883798      17849.875118
1         NaN        GAMPAHA   Maha   18577.883798      17849.875118
2         NaN       KALUTARA   Maha   18577.883798      17849.875118
3         NaN          KANDY   Maha   18577.883798      17849.875118
4         NaN         MATALE   Maha   18577.883798      17849.875118
5         NaN   NUWARA ELIYA   Maha   18577.883798      17849.875118
6         NaN          GALLE   Maha   18577.883798      17849.875118
7         NaN         MATARA   Maha   18577.883798      17849.875118
8         NaN     HAMBANTOTA   Maha   18577.883798      17849.875118
9         NaN         JAFFNA   Maha   18577.883798      17849.875118
10        NaN         MANNAR   Maha   18577.883798      17849.875118
11        NaN       VAVUNIYA   Maha   18577.883798      17849.875118
12        NaN      MULLATIVU   Maha   18577.883798      17849.875118
13        NaN    KILINOCHCHI   Maha   18577.883798      17849.875118
14        NaN     BATTICALOA   Maha   18577.883798      17849.875118
15        NaN         AMPARA   Maha   18577.883798      17849.875118
16        NaN    TRINCOMALEE   Maha   18577.883798      17849.875118
17        NaN     KURUNEGALA   Maha   18577.883798      17849.875118
18        NaN       PUTTALAM   Maha   18577.883798      17849.875118
19        NaN   ANURADHAPURA   Maha   18577.883798      17849.875118
20        NaN    POLONNARUWA   Maha   18577.883798      17849.875118
21        NaN        BADULLA   Maha   18577.883798      17849.875118
22        NaN     MONARAGALA   Maha   18577.883798      17849.875118
23        NaN      RATNAPURA   Maha   18577.883798      17849.875118
24        NaN        KEGALLE   Maha   18577.883798      17849.875118
25        NaN      UDAWALAWE   Maha   18577.883798      17849.875118
26        NaN  MAHAWELI  'H'   Maha   18577.883798      17849.875118
27     1983.0        COLOMBO   Yala   18577.883798      17849.875118
28     1983.0        GAMPAHA   Yala   18577.883798      17849.875118
29     1983.0       KALUTARA   Yala   18577.883798      17849.875118
30     1983.0          KANDY   Yala   18577.883798      17849.875118
31     1983.0         MATALE   Yala   18577.883798      17849.875118
32     1983.0   NUWARA ELIYA   Yala   18577.883798      17849.875118
33     1983.0          GALLE   Yala   18577.883798      17849.875118
34     1983.0         MATARA   Yala   18577.883798      17849.875118
35     1983.0     HAMBANTOTA   Yala   18577.883798      17849.875118
36     1983.0         JAFFNA   Yala   18577.883798      17849.875118
37     1983.0         MANNAR   Yala   18577.883798      17849.875118
38     1983.0       VAVUNIYA   Yala   18577.883798      17849.875118
39     1983.0      MULLATIVU   Yala   18577.883798      17849.875118
40     1983.0    KILINOCHCHI   Yala   18577.883798      17849.875118
41     1983.0     BATTICALOA   Yala   18577.883798      17849.875118
42     1983.0         AMPARA   Yala   18577.883798      17849.875118
43     1983.0    TRINCOMALEE   Yala   18577.883798      17849.875118
44     1983.0     KURUNEGALA   Yala   18577.883798      17849.875118
45     1983.0       PUTTALAM   Yala   18577.883798      17849.875118
46     1983.0   ANURADHAPURA   Yala   18577.883798      17849.875118
47     1983.0    POLONNARUWA   Yala   18577.883798      17849.875118
48     1983.0        BADULLA   Yala   18577.883798      17849.875118
49     1983.0     MONARAGALA   Yala   18577.883798      17849.875118
50     1983.0      RATNAPURA   Yala   18577.883798      17849.875118
51     1983.0        KEGALLE   Yala   18577.883798      17849.875118
52     1983.0      UDAWALAWE   Yala   18577.883798      17849.875118
53     1983.0  MAHAWELI  'H'   Yala   18577.883798      17849.875118
54        NaN        COLOMBO   Maha    6863.000000       6681.000000
55        NaN        GAMPAHA   Maha   16595.000000      16269.000000
56        NaN       KALUTARA   Maha   19586.000000      19206.000000
57        NaN          KANDY   Maha   19136.000000      19112.000000
58        NaN         MATALE   Maha   14319.000000      14096.000000
59        NaN   NUWARA ELIYA   Maha    7337.000000       6767.000000
60        NaN          GALLE   Maha   20423.000000      20164.000000
61        NaN         MATARA   Maha   20007.000000      19708.000000
62        NaN     HAMBANTOTA   Maha   19527.000000      19498.000000
63        NaN         JAFFNA   Maha   31758.000000      14400.000000
64        NaN         MANNAR   Maha   14503.000000      11563.000000
65        NaN       VAVUNIYA   Maha   14980.000000      11467.000000
66        NaN      MULLATIVU   Maha   13709.000000       7544.000000
68        NaN     BATTICALOA   Maha   47457.000000      23146.000000
69        NaN         AMPARA   Maha   50239.000000      29661.000000
70        NaN    TRINCOMALEE   Maha   35407.000000      27326.000000
71        NaN     KURUNEGALA   Maha   63377.000000      63060.000000
72        NaN       PUTTALAM   Maha   10559.000000      19763.000000
73        NaN   ANURADHAPURA   Maha   55583.000000      49792.000000
74        NaN    POLONNARUWA   Maha   33602.000000      30488.000000
75        NaN        BADULLA   Maha   19219.000000      18602.000000
76        NaN     MONARAGALA   Maha   11195.000000       9990.000000
77        NaN      RATNAPURA   Maha   16214.000000      16134.000000
78        NaN        KEGALLE   Maha   11161.000000      11115.000000
79        NaN      UDAWALAWE   Maha   11163.000000      11163.000000
80        NaN  MAHAWELI  'H'   Maha   22514.000000      22220.000000
81     1984.0        COLOMBO   Yala    5824.000000       5507.000000
82     1984.0        GAMPAHA   Yala   12556.000000      12271.000000
83     1984.0       KALUTARA   Yala   17127.000000      15635.000000
84     1984.0          KANDY   Yala   14290.000000      14289.000000
85     1984.0         MATALE   Yala    5907.000000       5839.000000
86     1984.0   NUWARA ELIYA   Yala    3707.000000       3566.000000
87     1984.0          GALLE   Yala   20095.000000      19138.000000
88     1984.0         MATARA   Yala   18668.000000      18525.000000
89     1984.0     HAMBANTOTA   Yala   16556.000000      15650.000000
90     1984.0         JAFFNA   Yala   18577.883798      17849.875118
91     1984.0         MANNAR   Yala     826.000000        773.000000
92     1984.0       VAVUNIYA   Yala    4513.000000       4513.000000
93     1984.0      MULLATIVU   Yala    3522.000000       3522.000000
94     1984.0    KILINOCHCHI   Yala    7721.000000       7721.000000
95     1984.0     BATTICALOA   Yala   12097.000000      11959.000000
96     1984.0         AMPARA   Yala   38594.000000      38380.000000
97     1984.0    TRINCOMALEE   Yala   16022.000000      16003.000000
98     1984.0     KURUNEGALA   Yala   61234.000000      60958.000000
99     1984.0       PUTTALAM   Yala    6414.000000       6147.000000
100    1984.0   ANURADHAPURA   Yala   25287.000000      24954.000000
101    1984.0    POLONNARUWA   Yala   26286.000000      26228.000000
102    1984.0        BADULLA   Yala   10370.000000      10162.000000
103    1984.0     MONARAGALA   Yala    5212.000000       5171.000000
104    1984.0      RATNAPURA   Yala   14499.000000      14156.000000
105    1984.0        KEGALLE   Yala   10971.000000      10882.000000
106    1984.0      UDAWALAWE   Yala   11179.000000      10973.000000
107    1984.0  MAHAWELI  'H'   Yala   14292.000000      13954.000000
108       NaN        COLOMBO   Maha    6688.000000       6647.000000
109       NaN        GAMPAHA   Maha   16456.000000      16358.000000
110       NaN       KALUTARA   Maha   19786.000000      19585.000000
111       NaN          KANDY   Maha   18574.000000      18572.000000
112       NaN         MATALE   Maha   15371.000000      15333.000000
113       NaN   NUWARA ELIYA   Maha    7141.000000       7001.000000
114       NaN          GALLE   Maha   20068.000000      19981.000000
115       NaN         MATARA   Maha   19236.000000      19090.000000
116       NaN     HAMBANTOTA   Maha   17646.000000      17460.000000
117       NaN         JAFFNA   Maha   11054.000000      10569.000000
118       NaN         MANNAR   Maha   13141.000000      13087.000000
119       NaN       VAVUNIYA   Maha   11751.000000       7885.000000
120       NaN      MULLATIVU   Maha    9453.000000       8437.000000
121       NaN    KILINOCHCHI   Maha   18580.000000      18333.000000
122       NaN     BATTICALOA   Maha   38170.000000      37678.000000
123       NaN         AMPARA   Maha   45223.000000      45138.000000
124       NaN    TRINCOMALEE   Maha   29896.000000      29333.000000
125       NaN     KURUNEGALA   Maha   70997.000000      70951.000000
126       NaN       PUTTALAM   Maha   11224.000000      10817.000000
127       NaN   ANURADHAPURA   Maha   44332.000000      43836.000000
128       NaN    POLONNARUWA   Maha   32944.000000      32937.000000
129       NaN        BADULLA   Maha   19406.000000      19286.000000
130       NaN     MONARAGALA   Maha   10856.000000      10307.000000
131       NaN      RATNAPURA   Maha   16076.000000      16034.000000
132       NaN        KEGALLE   Maha   11158.000000      11139.000000
133       NaN      UDAWALAWE   Maha   10561.000000      10560.000000
134       NaN  MAHAWELI  'H'   Maha   22957.000000      22881.000000
135    1985.0        COLOMBO   Yala    4986.000000       4785.000000
136    1985.0        GAMPAHA   Yala   12209.000000      12106.000000
137    1985.0       KALUTARA   Yala   16898.000000      15967.000000
138    1985.0          KANDY   Yala   14160.000000      14154.000000
139    1985.0         MATALE   Yala    4399.000000       4292.000000
140    1985.0   NUWARA ELIYA   Yala    3742.000000       3624.000000
141    1985.0          GALLE   Yala   19847.000000      19648.000000
142    1985.0         MATARA   Yala   17696.000000      17487.000000
143    1985.0     HAMBANTOTA   Yala   12592.000000      12580.000000
144    1985.0         JAFFNA   Yala   18577.883798      17849.875118
145    1985.0         MANNAR   Yala     393.000000        364.000000
146    1985.0       VAVUNIYA   Yala     150.000000        129.000000
147    1985.0      MULLATIVU   Yala    1105.000000       1096.000000
148    1985.0    KILINOCHCHI   Yala    5695.000000       5687.000000
149    1985.0     BATTICALOA   Yala   11053.000000      11017.000000
150    1985.0         AMPARA   Yala   36593.000000      36490.000000
151    1985.0    TRINCOMALEE   Yala   11139.000000       9328.000000
152    1985.0     KURUNEGALA   Yala   40697.000000      39010.000000
153    1985.0       PUTTALAM   Yala    4942.000000       4792.000000
154    1985.0   ANURADHAPURA   Yala    9847.000000       9765.000000
155    1985.0    POLONNARUWA   Yala   23662.000000      23657.000000
156    1985.0        BADULLA   Yala    9762.000000       9738.000000
157    1985.0     MONARAGALA   Yala    3807.000000       3483.000000
158    1985.0      RATNAPURA   Yala   14706.000000      14553.000000
159    1985.0        KEGALLE   Yala   11004.000000      10905.000000
160    1985.0      UDAWALAWE   Yala   11155.000000      11152.000000
161    1985.0  MAHAWELI  'H'   Yala    9709.000000       9633.000000
162       NaN        COLOMBO   Maha    6523.000000       6447.000000
163       NaN        GAMPAHA   Maha   16100.000000      15739.000000
164       NaN       KALUTARA   Maha   19498.000000      19297.000000
165       NaN          KANDY   Maha   18931.000000      18904.000000
166       NaN         MATALE   Maha   15532.000000      15512.000000
167       NaN   NUWARA ELIYA   Maha    6925.000000       6746.000000
168       NaN          GALLE   Maha   20549.000000      20478.000000
169       NaN         MATARA   Maha   18893.000000      18169.000000
170       NaN     HAMBANTOTA   Maha   19542.000000      19502.000000
171       NaN         JAFFNA   Maha   10877.000000       8403.000000
172       NaN         MANNAR   Maha   14155.000000      13912.000000
173       NaN       VAVUNIYA   Maha    8487.000000       7150.000000
174       NaN      MULLATIVU   Maha    8324.000000       8174.000000
175       NaN    KILINOCHCHI   Maha   18367.000000       9184.000000
176       NaN     BATTICALOA   Maha   33279.000000      26787.000000
177       NaN         AMPARA   Maha   46617.000000      42983.000000
178       NaN    TRINCOMALEE   Maha   16586.000000      16010.000000
179       NaN     KURUNEGALA   Maha   71604.000000      71524.000000
180       NaN       PUTTALAM   Maha   13778.000000      13064.000000
181       NaN   ANURADHAPURA   Maha   43938.000000      43228.000000
182       NaN    POLONNARUWA   Maha   33743.000000      33047.000000
183       NaN        BADULLA   Maha   19772.000000      19710.000000
184       NaN     MONARAGALA   Maha   11397.000000      11288.000000
185       NaN      RATNAPURA   Maha   16216.000000      16172.000000
186       NaN        KEGALLE   Maha   11156.000000      11143.000000
187       NaN      UDAWALAWE   Maha   11436.000000      11434.000000
188       NaN  MAHAWELI  'H'   Maha   22984.000000      22915.000000
189    1986.0        COLOMBO   Yala    5728.000000       5651.000000
190    1986.0        GAMPAHA   Yala   10270.000000      10010.000000
191    1986.0       KALUTARA   Yala   16767.000000      16485.000000
192    1986.0          KANDY   Yala   15345.000000      15343.000000
193    1986.0         MATALE   Yala    6528.000000       6153.000000
194    1986.0   NUWARA ELIYA   Yala    3857.000000       3500.000000
195    1986.0          GALLE   Yala   20454.000000      20295.000000
196    1986.0         MATARA   Yala   18211.000000      17863.000000
197    1986.0     HAMBANTOTA   Yala   15326.000000      15012.000000
198    1986.0         JAFFNA   Yala   18577.883798      17849.875118
199    1986.0         MANNAR   Yala     367.000000        364.000000
200    1986.0       VAVUNIYA   Yala    1447.000000       1397.000000
201    1986.0      MULLATIVU   Yala    3057.000000       3027.000000
202    1986.0    KILINOCHCHI   Yala    7758.000000       7485.000000
203    1986.0     BATTICALOA   Yala   14257.000000      14090.000000
204    1986.0         AMPARA   Yala   43489.000000      43315.000000
205    1986.0    TRINCOMALEE   Yala    5219.000000       5203.000000
206    1986.0     KURUNEGALA   Yala   48157.000000      22349.000000
207    1986.0       PUTTALAM   Yala    5333.000000       3954.000000
208    1986.0   ANURADHAPURA   Yala   13865.000000      12784.000000
209    1986.0    POLONNARUWA   Yala   28862.000000      28703.000000
210    1986.0        BADULLA   Yala    7633.000000       7574.000000
211    1986.0     MONARAGALA   Yala    4582.000000       4395.000000
212    1986.0      RATNAPURA   Yala   14798.000000      14648.000000
213    1986.0        KEGALLE   Yala   10624.000000       9986.000000
214    1986.0      UDAWALAWE   Yala   11466.000000      11459.000000
215    1986.0  MAHAWELI  'H'   Yala    6709.000000       6687.000000
216       NaN        COLOMBO   Maha    6524.000000       6460.000000
217       NaN        GAMPAHA   Maha   15089.000000      14885.000000
218       NaN       KALUTARA   Maha   18967.000000      18906.000000
219       NaN          KANDY   Maha   18889.000000      18248.000000
220       NaN         MATALE   Maha   14546.000000      13295.000000
221       NaN   NUWARA ELIYA   Maha    6470.000000       6395.000000
222       NaN          GALLE   Maha   20196.000000      20007.000000
223       NaN         MATARA   Maha   19211.000000      18924.000000
224       NaN     HAMBANTOTA   Maha   19602.000000      17848.000000
225       NaN         JAFFNA   Maha   10557.000000       9644.000000
226       NaN         MANNAR   Maha   14630.000000       6493.000000
227       NaN       VAVUNIYA   Maha    4893.000000       1773.000000
228       NaN      MULLATIVU   Maha    6031.000000       3304.000000
229       NaN    KILINOCHCHI   Maha   18210.000000      17518.000000
230       NaN     BATTICALOA   Maha   29654.000000      28196.000000
231       NaN         AMPARA   Maha   47974.000000      47537.000000
232       NaN    TRINCOMALEE   Maha   11148.000000      10321.000000
233       NaN     KURUNEGALA   Maha   56580.000000      18100.000000
234       NaN       PUTTALAM   Maha   11864.000000       5924.000000
235       NaN   ANURADHAPURA   Maha   28982.000000      23495.000000
236       NaN    POLONNARUWA   Maha   35925.000000      35899.000000
237       NaN        BADULLA   Maha   19880.000000      19820.000000
238       NaN     MONARAGALA   Maha   10158.000000       9122.000000
239       NaN      RATNAPURA   Maha   15932.000000      15551.000000
240       NaN        KEGALLE   Maha   11135.000000      10448.000000
241       NaN      UDAWALAWE   Maha   11465.000000      11465.000000
242       NaN  MAHAWELI  'H'   Maha   23317.000000      23114.000000
243    1987.0        COLOMBO   Yala    4008.000000       3826.000000
244    1987.0        GAMPAHA   Yala   10445.000000      10411.000000
245    1987.0       KALUTARA   Yala   14945.000000      14407.000000
246    1987.0          KANDY   Yala   13989.000000      13875.000000
247    1987.0         MATALE   Yala    4300.000000       3043.000000
248    1987.0   NUWARA ELIYA   Yala    3730.000000       3719.000000
249    1987.0          GALLE   Yala   14959.000000      14665.000000
250    1987.0         MATARA   Yala   15043.000000      14538.000000
251    1987.0     HAMBANTOTA   Yala    8661.000000       8029.000000
252    1987.0         JAFFNA   Yala   18577.883798      17849.875118
253    1987.0         MANNAR   Yala      72.000000         51.000000
254    1987.0       VAVUNIYA   Yala      79.000000         72.000000
255    1987.0      MULLATIVU   Yala     327.000000        302.000000
256    1987.0    KILINOCHCHI   Yala     182.000000        182.000000
257    1987.0     BATTICALOA   Yala   14774.000000      14230.000000
258    1987.0         AMPARA   Yala   45785.000000      45869.000000
259    1987.0    TRINCOMALEE   Yala    4456.000000       3342.000000
260    1987.0     KURUNEGALA   Yala   34580.000000      18220.000000
261    1987.0       PUTTALAM   Yala    1668.000000        974.000000
262    1987.0   ANURADHAPURA   Yala    3751.000000       3166.000000
263    1987.0    POLONNARUWA   Yala   28015.000000      25999.000000
264    1987.0        BADULLA   Yala   10623.000000      10449.000000
265    1987.0     MONARAGALA   Yala    2896.000000       2454.000000
266    1987.0      RATNAPURA   Yala   11716.000000      11061.000000
267    1987.0        KEGALLE   Yala   10109.000000       9855.000000
268    1987.0      UDAWALAWE   Yala   10585.000000      10513.000000
269    1987.0  MAHAWELI  'H'   Yala    3295.000000       2802.000000
270       NaN        COLOMBO   Maha    6195.000000       6162.000000
271       NaN        GAMPAHA   Maha   14592.000000      13939.000000
272       NaN       KALUTARA   Maha   18563.000000      17879.000000
273       NaN          KANDY   Maha   19034.000000      18952.000000
274       NaN         MATALE   Maha   14732.000000      13726.000000
275       NaN   NUWARA ELIYA   Maha    6353.000000       6353.000000
276       NaN          GALLE   Maha   20033.000000      19944.000000
277       NaN         MATARA   Maha   18189.000000      17891.000000
278       NaN     HAMBANTOTA   Maha   22520.000000      22499.000000
279       NaN         JAFFNA   Maha   11032.000000       9929.000000
280       NaN         MANNAR   Maha   13411.000000      11704.000000
281       NaN       VAVUNIYA   Maha    7090.000000       6381.000000
282       NaN      MULLATIVU   Maha    6726.000000       5152.000000
283       NaN    KILINOCHCHI   Maha   19166.000000      17250.000000
284       NaN     BATTICALOA   Maha   29664.000000      11381.000000
285       NaN         AMPARA   Maha   51333.000000      48359.000000
286       NaN    TRINCOMALEE   Maha   12934.000000      11640.000000
287       NaN     KURUNEGALA   Maha   69663.000000      64559.000000
288       NaN       PUTTALAM   Maha    8569.000000       7914.000000

In [21]:
# Save preprocessed dataset to CSV
df.to_csv("paddy_yield_preprocessed.csv", index=False)
print("Preprocessed dataset saved successfully!")

Preprocessed dataset saved successfully!

In [23]:
from google.colab import files

# Save the preprocessed dataset first
df.to_csv("paddy_yield_preprocessed.csv", index=False)

# Download to your computer
files.download("paddy_yield_preprocessed.csv")

In [24]:
# Remove rows where 'Year' is missing (NaN)
df = df.dropna(subset=['Year'])

# Optional: convert Year to integer if you want
df['Year'] = df['Year'].astype(int)

# Verify
print(df['Year'].unique())
print(df.info())

[ 1983  1984  1985  1986  1987  1988  1989  1990  1991  1992  1993  1994
  1995  1996  1997  1998  1999  2000  2001  2002  2003  2004  2005  2006
  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016  2017  2018
  2019  2020  2021  2022  2023  2024 20244]
<class 'pandas.core.frame.DataFrame'>
Index: 1134 entries, 27 to 2267
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              1134 non-null   int64
 1   District          1134 non-null   object
 2   Season            1134 non-null   object
 3   Sown_Extent       1134 non-null   float64
 4   Harvested_Extent  1134 non-null   float64
 5   Waterfed_Major    1134 non-null   float64
 6   Waterfed_Minor    1134 non-null   float64
 7   Rainfed           1134 non-null   float64
 8   Yield_Extent      1134 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 88.6+ KB
None

/tmp/ipython-input-1865598266.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Year'].astype(int)

In [25]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df

,Year,District,Season,Sown_Extent,Harvested_Extent,Waterfed_Major,Waterfed_Minor,Rainfed,Yield_Extent
27,1983,COLOMBO,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,1779.000000
28,1983,GAMPAHA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,2827.000000
29,1983,KALUTARA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,2177.000000
30,1983,KANDY,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3087.000000
31,1983,MATALE,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3400.000000
32,1983,NUWARA ELIYA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,4129.000000
33,1983,GALLE,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,1361.000000
34,1983,MATARA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,2249.000000
35,1983,HAMBANTOTA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,4222.000000
36,1983,JAFFNA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3830.000000
37,1983,MANNAR,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,4297.000000
38,1983,VAVUNIYA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3762.000000
39,1983,MULLATIVU,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,2908.000000
40,1983,KILINOCHCHI,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3971.427716
41,1983,BATTICALOA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3553.000000
42,1983,AMPARA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,4304.000000
43,1983,TRINCOMALEE,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3781.000000
44,1983,KURUNEGALA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3300.000000
45,1983,PUTTALAM,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,2911.000000
46,1983,ANURADHAPURA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3597.000000
47,1983,POLONNARUWA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,4438.000000
48,1983,BADULLA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3709.000000
49,1983,MONARAGALA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3836.000000
50,1983,RATNAPURA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3135.000000
51,1983,KEGALLE,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3350.000000
52,1983,UDAWALAWE,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,5229.000000
53,1983,MAHAWELI 'H',Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,4173.000000
81,1984,COLOMBO,Yala,5824.000000,5507.000000,3866.272835,4986.000000,4986.000000,4986.000000
82,1984,GAMPAHA,Yala,12556.000000,12271.000000,3379.000000,12209.000000,12209.000000,12209.000000
83,1984,KALUTARA,Yala,17127.000000,15635.000000,3866.272835,16898.000000,16898.000000,16898.000000
84,1984,KANDY,Yala,14290.000000,14289.000000,3320.000000,14160.000000,14160.000000,14160.000000
85,1984,MATALE,Yala,5907.000000,5839.000000,3510.000000,4399.000000,4399.000000,4399.000000
86,1984,NUWARA ELIYA,Yala,3707.000000,3566.000000,4624.000000,3742.000000,3742.000000,3742.000000
87,1984,GALLE,Yala,20095.000000,19138.000000,3866.272835,19847.000000,19847.000000,19847.000000
88,1984,MATARA,Yala,18668.000000,18525.000000,3046.000000,17696.000000,17696.000000,17696.000000
89,1984,HAMBANTOTA,Yala,16556.000000,15650.000000,3539.000000,12592.000000,12592.000000,12592.000000
90,1984,JAFFNA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3971.427716
91,1984,MANNAR,Yala,826.000000,773.000000,3058.000000,393.000000,393.000000,393.000000
92,1984,VAVUNIYA,Yala,4513.000000,4513.000000,3291.000000,150.000000,150.000000,150.000000
93,1984,MULLATIVU,Yala,3522.000000,3522.000000,3147.000000,1105.000000,1105.000000,1105.000000
94,1984,KILINOCHCHI,Yala,7721.000000,7721.000000,2978.000000,5695.000000,5695.000000,5695.000000
95,1984,BATTICALOA,Yala,12097.000000,11959.000000,3890.000000,11053.000000,11053.000000,11053.000000
96,1984,AMPARA,Yala,38594.000000,38380.000000,4158.000000,36593.000000,36593.000000,36593.000000
97,1984,TRINCOMALEE,Yala,16022.000000,16003.000000,3856.000000,11139.000000,11139.000000,11139.000000
98,1984,KURUNEGALA,Yala,61234.000000,60958.000000,2999.000000,40697.000000,40697.000000,40697.000000
99,1984,PUTTALAM,Yala,6414.000000,6147.000000,2642.000000,4942.000000,4942.000000,4942.000000
100,1984,ANURADHAPURA,Yala,25287.000000,24954.000000,3021.000000,9847.000000,9847.000000,9847.000000
101,1984,POLONNARUWA,Yala,26286.000000,26228.000000,3913.000000,23662.000000,23662.000000,23662.000000
102,1984,BADULLA,Yala,10370.000000,10162.000000,2965.000000,9762.000000,9762.000000,9762.000000
103,1984,MONARAGALA,Yala,5212.000000,5171.000000,3502.000000,3807.000000,3807.000000,3807.000000
104,1984,RATNAPURA,Yala,14499.000000,14156.000000,3609.000000,14706.000000,14706.000000,14706.000000
105,1984,KEGALLE,Yala,10971.000000,10882.000000,3866.272835,11004.000000,11004.000000,11004.000000
106,1984,UDAWALAWE,Yala,11179.000000,10973.000000,3338.000000,11155.000000,11155.000000,11155.000000
107,1984,MAHAWELI 'H',Yala,14292.000000,13954.000000,2912.000000,9709.000000,9709.000000,9709.000000
135,1985,COLOMBO,Yala,4986.000000,4785.000000,3866.272835,3512.000000,2438.000000,2478.000000
136,1985,GAMPAHA,Yala,12209.000000,12106.000000,3078.000000,2473.000000,2779.000000,2803.000000
137,1985,KALUTARA,Yala,16898.000000,15967.000000,3866.272835,2304.000000,1730.000000,1815.000000
138,1985,KANDY,Yala,14160.000000,14154.000000,3696.000000,3190.000000,2933.000000,3200.000000
139,1985,MATALE,Yala,4399.000000,4292.000000,2704.000000,3029.000000,2853.000000,2943.000000
140,1985,NUWARA ELIYA,Yala,3742.000000,3624.000000,3912.000000,3747.000000,3005.414552,3774.000000
141,1985,GALLE,Yala,19847.000000,19648.000000,3866.272835,624.000000,1925.000000,1924.000000
142,1985,MATARA,Yala,17696.000000,17487.000000,2701.000000,2509.000000,2378.000000,2459.000000
143,1985,HAMBANTOTA,Yala,12592.000000,12580.000000,4005.000000,3700.000000,3407.000000,3930.000000
144,1985,JAFFNA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3971.427716
145,1985,MANNAR,Yala,393.000000,364.000000,3650.000000,3388.695317,3005.414552,3650.000000
146,1985,VAVUNIYA,Yala,150.000000,129.000000,3866.272835,3388.695317,3005.414552,3971.427716
147,1985,MULLATIVU,Yala,1105.000000,1096.000000,2976.000000,3462.000000,3005.414552,3056.000000
148,1985,KILINOCHCHI,Yala,5695.000000,5687.000000,4012.000000,3388.695317,3005.414552,4012.000000
149,1985,BATTICALOA,Yala,11053.000000,11017.000000,3737.000000,2617.000000,4134.000000,3771.000000
150,1985,AMPARA,Yala,36593.000000,36490.000000,4576.000000,3401.000000,3005.414552,4567.000000
151,1985,TRINCOMALEE,Yala,11139.000000,9328.000000,3936.000000,2647.000000,3005.414552,3881.000000
152,1985,KURUNEGALA,Yala,40697.000000,39010.000000,2990.000000,2658.000000,3250.000000,2989.000000
153,1985,PUTTALAM,Yala,4942.000000,4792.000000,2896.000000,2689.000000,2892.000000,2834.000000
154,1985,ANURADHAPURA,Yala,9847.000000,9765.000000,3996.000000,2802.000000,3005.414552,3756.000000
155,1985,POLONNARUWA,Yala,23662.000000,23657.000000,4437.000000,2719.000000,3005.414552,4396.000000
156,1985,BADULLA,Yala,9762.000000,9738.000000,3361.000000,3794.000000,3005.414552,3511.000000
157,1985,MONARAGALA,Yala,3807.000000,3483.000000,3118.000000,3551.000000,3005.414552,3324.000000
158,1985,RATNAPURA,Yala,14706.000000,14553.000000,4134.000000,2968.000000,2456.000000,2841.000000
159,1985,KEGALLE,Yala,11004.000000,10905.000000,3866.272835,3398.000000,3405.000000,3472.000000
160,1985,UDAWALAWE,Yala,11155.000000,11152.000000,3859.000000,3388.695317,3005.414552,3859.000000
161,1985,MAHAWELI 'H',Yala,9709.000000,9633.000000,3241.000000,3388.695317,3005.414552,3241.000000
189,1986,COLOMBO,Yala,5728.000000,5651.000000,3866.272835,3100.000000,2808.000000,2841.000000
190,1986,GAMPAHA,Yala,10270.000000,10010.000000,2347.000000,2685.000000,2836.000000,2764.000000
191,1986,KALUTARA,Yala,16767.000000,16485.000000,2387.000000,2712.000000,2190.000000,2264.000000
192,1986,KANDY,Yala,15345.000000,15343.000000,3670.000000,2922.000000,2787.000000,3090.000000
193,1986,MATALE,Yala,6528.000000,6153.000000,2660.000000,2917.000000,2486.000000,2761.000000
194,1986,NUWARA ELIYA,Yala,3857.000000,3500.000000,2923.000000,3451.000000,3005.414552,3386.000000
195,1986,GALLE,Yala,20454.000000,20295.000000,3866.272835,4118.000000,2071.000000,2073.000000
196,1986,MATARA,Yala,18211.000000,17863.000000,3062.000000,3027.000000,2441.000000,2676.000000
197,1986,HAMBANTOTA,Yala,15326.000000,15012.000000,4134.000000,3552.000000,3418.000000,4026.000000
198,1986,JAFFNA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3971.427716
199,1986,MANNAR,Yala,367.000000,364.000000,2876.000000,2594.000000,3005.414552,2829.000000
200,1986,VAVUNIYA,Yala,1447.000000,1397.000000,3247.000000,4732.000000,3005.414552,3913.000000
201,1986,MULLATIVU,Yala,3057.000000,3027.000000,2828.000000,2417.000000,3005.414552,2737.000000
202,1986,KILINOCHCHI,Yala,7758.000000,7485.000000,3946.000000,3388.695317,3005.414552,3946.000000
203,1986,BATTICALOA,Yala,14257.000000,14090.000000,3705.000000,2929.000000,3194.000000,3618.000000
204,1986,AMPARA,Yala,43489.000000,43315.000000,4133.000000,3188.000000,3005.414552,4133.000000
205,1986,TRINCOMALEE,Yala,5219.000000,5203.000000,3796.000000,2748.000000,3005.414552,3737.000000
206,1986,KURUNEGALA,Yala,48157.000000,22349.000000,3394.000000,2449.000000,2130.000000,2811.000000
207,1986,PUTTALAM,Yala,5333.000000,3954.000000,2858.000000,1790.000000,2641.000000,2534.000000
208,1986,ANURADHAPURA,Yala,13865.000000,12784.000000,3616.000000,3374.000000,3005.414552,3555.000000
209,1986,POLONNARUWA,Yala,28862.000000,28703.000000,3948.000000,3585.000000,3005.414552,3943.000000
210,1986,BADULLA,Yala,7633.000000,7574.000000,3632.000000,3939.000000,3005.414552,3761.000000
211,1986,MONARAGALA,Yala,4582.000000,4395.000000,3088.000000,3790.000000,2135.000000,3345.000000
212,1986,RATNAPURA,Yala,14798.000000,14648.000000,3673.000000,2996.000000,2468.000000,2885.000000
213,1986,KEGALLE,Yala,10624.000000,9986.000000,3866.272835,2829.000000,2867.000000,2859.000000
214,1986,UDAWALAWE,Yala,11466.000000,11459.000000,4162.000000,3388.695317,3005.414552,4162.000000
215,1986,MAHAWELI 'H',Yala,6709.000000,6687.000000,3027.000000,3388.695317,3005.414552,3027.000000
243,1987,COLOMBO,Yala,4008.000000,3826.000000,3866.272835,2234.000000,2274.000000,2269.000000
244,1987,GAMPAHA,Yala,10445.000000,10411.000000,3457.000000,3594.000000,3150.000000,3235.000000
245,1987,KALUTARA,Yala,14945.000000,14407.000000,1433.000000,2045.000000,2030.000000,2015.000000
246,1987,KANDY,Yala,13989.000000,13875.000000,3574.000000,2616.000000,2371.000000,2804.000000
247,1987,MATALE,Yala,4300.000000,3043.000000,3204.000000,2242.000000,1653.000000,2594.000000
248,1987,NUWARA ELIYA,Yala,3730.000000,3719.000000,3937.000000,4068.000000,3005.414552,4044.000000
249,1987,GALLE,Yala,14959.000000,14665.000000,3866.272835,2448.000000,1841.000000,1842.000000
250,1987,MATARA,Yala,15043.000000,14538.000000,2757.000000,2586.000000,2404.000000,2503.000000
251,1987,HAMBANTOTA,Yala,8661.000000,8029.000000,4409.000000,3115.000000,3176.000000,4261.000000
252,1987,JAFFNA,Yala,18577.883798,17849.875118,3866.272835,3388.695317,3005.414552,3971.427716
253,1987,MANNAR,Yala,72.000000,51.000000,3866.272835,3379.000000,3005.414552,3379.000000
254,1987,VAVUNIYA,Yala,79.000000,72.000000,3866.272835,3388.695317,3005.414552,3609.000000
255,1987,MULLATIVU,Yala,327.000000,302.000000,5216.000000,2887.000000,3005.414552,3057.000000
256,1987,KILINOCHCHI,Yala,182.000000,182.000000,3866.272835,3388.695317,3005.414552,3970.000000
257,1987,BATTICALOA,Yala,14774.000000,14230.000000,3369.000000,3621.000000,3715.000000,3427.000000
258,1987,AMPARA,Yala,45785.000000,45869.000000,4285.000000,3493.000000,3005.414552,4280.000000
259,1987,TRINCOMALEE,Yala,4456.000000,3342.000000,3866.272835,3388.695317,3005.414552,3764.000000
260,1987,KURUNEGALA,Yala,34580.000000,18220.000000,3269.000000,3984.000000,3093.000000,3330.000000
261,1987,PUTTALAM,Yala,1668.000000,974.000000,3273.000000,2263.000000,2064.000000,2806.000000
262,1987,ANURADHAPURA,Yala,3751.000000,3166.000000,2933.000000,2547.000000,3005.414552,2912.000000
263,1987,POLONNARUWA,Yala,28015.000000,25999.000000,3751.000000,3362.000000,3005.414552,3749.000000
264,1987,BADULLA,Yala,10623.000000,10449.000000,3531.000000,3717.000000,3005.414552,3582.000000
265,1987,MONARAGALA,Yala,2896.000000,2454.000000,3502.000000,2850.000000,3005.414552,3312.000000
266,1987,RATNAPURA,Yala,11716.000000,11061.000000,4510.000000,3128.000000,2135.000000,3054.000000
267,1987,KEGALLE,Yala,10109.000000,9855.000000,3866.272835,3236.000000,3095.000000,3117.000000
268,1987,UDAWALAWE,Yala,10585.000000,10513.000000,4602.000000,3388.695317,3005.414552,4602.000000
269,1987,MAHAWELI 'H',Yala,3295.000000,2802.000000,2871.000000,3388.695317,3005.414552,2871.000000
297,1988,COLOMBO,Yala,5157.000000,5138.000000,0.000000,2860.000000,2916.000000,2908.000000
298,1988,GAMPAHA,Yala,11620.000000,11513.000000,2967.000000,3378.000000,2692.000000,2797.000000
299,1988,KALUTARA,Yala,16207.000000,15808.000000,1911.000000,2493.000000,2037.000000,2112.000000
300,1988,KANDY,Yala,15353.000000,15273.000000,4008.000000,2821.000000,2697.000000,3099.000000
301,1988,MATALE,Yala,6378.000000,6232.000000,3024.000000,2661.000000,2763.000000,2831.000000
302,1988,NUWARA ELIYA,Yala,3751.000000,3749.000000,3036.000000,3570.000000,0.000000,3474.000000
303,1988,GALLE,Yala,19844.000000,19711.000000,0.000000,2585.000000,2327.000000,2328.000000
304,1988,MATARA,Yala,17654.000000,17532.000000,3385.000000,3070.000000,2728.000000,2948.000000
305,1988,HAMBANTOTA,Yala,13741.000000,13741.000000,4435.000000,3994.000000,3773.000000,4351.000000
306,1988,JAFFNA,Yala,18577.883798,17849.875118,0.000000,0.000000,0.000000,0.000000
307,1988,MANNAR,Yala,851.000000,851.000000,2998.000000,0.000000,2990.000000,2998.000000
308,1988,VAVUNIYA,Yala,372.000000,335.000000,3331.000000,3351.000000,0.000000,3351.000000
309,1988,MULLATIVU,Yala,619.000000,605.000000,2836.000000,0.000000,0.000000,2836.000000
310,1988,KILINOCHCHI,Yala,2079.000000,2056.000000,4023.000000,3589.000000,0.000000,4016.000000
311,1988,BATTICALOA,Yala,8414.000000,8045.000000,3586.000000,2999.000000,4042.000000,3609.000000
312,1988,AMPARA,Yala,42306.000000,40287.000000,4290.000000,3108.000000,0.000000,4277.000000
313,1988,TRINCOMALEE,Yala,9044.000000,8139.000000,3609.000000,3388.695317,3005.414552,3506.000000
314,1988,KURUNEGALA,Yala,53119.000000,52800.000000,3538.000000,2851.000000,2932.000000,3009.000000
315,1988,PUTTALAM,Yala,6020.000000,5457.000000,2554.000000,2704.000000,2651.000000,2632.000000
316,1988,ANURADHAPURA,Yala,7036.000000,6589.000000,3479.000000,3427.000000,0.000000,3459.000000
317,1988,POLONNARUWA,Yala,30591.000000,30553.000000,4114.000000,3175.000000,0.000000,4109.000000
318,1988,BADULLA,Yala,11199.000000,11154.000000,4010.000000,3665.000000,0.000000,3911.000000
319,1988,MONARAGALA,Yala,3116.000000,2923.000000,3255.000000,3525.000000,3410.000000,3352.000000
320,1988,RATNAPURA,Yala,13629.000000,13485.000000,3607.000000,3024.000000,2459.000000,2882.000000
321,1988,KEGALLE,Yala,10720.000000,10706.000000,0.000000,2829.000000,3022.000000,2979.000000
322,1988,UDAWALAWE,Yala,10411.000000,10379.000000,4644.000000,0.000000,0.000000,4644.000000
323,1988,MAHAWELI 'H',Yala,3951.000000,3947.000000,3208.000000,0.000000,0.000000,3208.000000
351,1989,COLOMBO,Yala,3559.000000,3542.000000,0.000000,1806.000000,2321.000000,2251.000000
352,1989,GAMPAHA,Yala,7044.000000,6928.000000,2524.000000,2781.000000,2710.000000,2689.000000
353,1989,KALUTARA,Yala,16151.000000,15974.000000,1998.000000,2680.000000,2317.000000,2418.000000
354,1989,KANDY,Yala,14592.000000,14489.000000,4481.000000,3153.000000,2578.000000,3321.000000
355,1989,MATALE,Yala,4337.000000,4302.000000,3129.000000,2829.000000,2697.000000,2936.000000
356,1989,NUWARA ELIYA,Yala,3736.000000,3736.000000,3254.000000,3488.000000,0.000000,3446.000000
357,1989,GALLE,Yala,16550.000000,16489.000000,0.000000,0.000000,2162.000000,2162.000000
358,1989,MATARA,Yala,16297.000000,16046.000000,3233.000000,3146.000000,2452.000000,2721.000000
359,1989,HAMBANTOTA,Yala,15591.000000,15489.000000,4340.000000,4145.000000,3247.000000,4274.000000
360,1989,JAFFNA,Yala,18577.883798,17849.875118,0.000000,0.000000,0.000000,3971.427716
361,1989,MANNAR,Yala,13.000000,11.000000,2616.000000,0.000000,0.000000,2616.000000
362,1989,VAVUNIYA,Yala,18577.883798,17849.875118,0.000000,0.000000,0.000000,3971.427716
363,1989,MULLATIVU,Yala,245.000000,241.000000,0.000000,3087.000000,0.000000,3087.000000
364,1989,KILINOCHCHI,Yala,176.000000,107.000000,0.000000,0.000000,0.000000,2578.000000
365,1989,BATTICALOA,Yala,15124.000000,14085.000000,3399.000000,2881.000000,2150.000000,3332.000000
366,1989,AMPARA,Yala,39541.000000,36361.000000,3113.000000,2239.000000,0.000000,3106.000000
367,1989,TRINCOMALEE,Yala,4179.000000,3970.000000,2578.000000,0.000000,0.000000,2578.000000
368,1989,KURUNEGALA,Yala,21846.000000,20433.000000,4390.000000,2541.000000,2726.000000,3259.000000
369,1989,PUTTALAM,Yala,2529.000000,2185.000000,3616.000000,2995.000000,2841.000000,3228.000000
370,1989,ANURADHAPURA,Yala,1465.000000,1465.000000,2624.000000,2390.000000,0.000000,2594.000000
371,1989,POLONNARUWA,Yala,30886.000000,30656.000000,4117.000000,3253.000000,0.000000,4112.000000
372,1989,BADULLA,Yala,10698.000000,10630.000000,3861.000000,4166.000000,0.000000,3939.000000
373,1989,MONARAGALA,Yala,1855.000000,1759.000000,2874.000000,3334.000000,0.000000,3206.000000
374,1989,RATNAPURA,Yala,10554.000000,10446.000000,4759.000000,3051.000000,2055.000000,2844.000000
375,1989,KEGALLE,Yala,9595.000000,9572.000000,0.000000,3118.000000,2628.000000,2780.000000
376,1989,UDAWALAWE,Yala,10406.000000,10381.000000,5249.000000,0.000000,0.000000,5249.000000
377,1989,MAHAWELI 'H',Yala,1140.000000,617.000000,2624.000000,0.000000,0.000000,2624.000000
405,1990,COLOMBO,Yala,4836.000000,4819.000000,0.000000,2033.000000,2555.000000,2477.000000
406,1990,GAMPAHA,Yala,11323.000000,11238.000000,2774.000000,3219.000000,2539.000000,2665.000000
407,1990,KALUTARA,Yala,16254.000000,16183.000000,1974.000000,2536.000000,2427.000000,2434.000000
408,1990,KANDY,Yala,16110.000000,16102.000000,4035.000000,2936.000000,2951.000000,3205.000000
409,1990,MATALE,Yala,6141.000000,6117.000000,2828.000000,3154.000000,2179.000000,2911.000000
410,1990,NUWARA ELIYA,Yala,3325.000000,3325.000000,3279.000000,2709.000000,0.000000,2802.000000
411,1990,GALLE,Yala,18427.000000,18339.000000,0.000000,2551.000000,2537.000000,2537.000000
412,1990,MATARA,Yala,17922.000000,17885.000000,4081.000000,2023.000000,2868.000000,3145.000000
413,1990,HAMBANTOTA,Yala,13592.000000,13087.000000,4873.000000,4827.000000,3074.000000,4796.000000
414,1990,JAFFNA,Yala,18577.883798,17849.875118,0.000000,0.000000,0.000000,0.000000
415,1990,MANNAR,Yala,12.000000,11.000000,0.000000,0.000000,0.000000,0.000000
416,1990,VAVUNIYA,Yala,18577.883798,17849.875118,0.000000,0.000000,0.000000,0.000000
417,1990,MULLATIVU,Yala,245.000000,236.000000,0.000000,0.000000,0.000000,0.000000
418,1990,KILINOCHCHI,Yala,175.000000,172.000000,0.000000,0.000000,0.000000,0.000000
419,1990,BATTICALOA,Yala,14400.000000,13956.000000,0.000000,0.000000,0.000000,0.000000
420,1990,AMPARA,Yala,47492.000000,37270.000000,0.000000,0.000000,0.000000,0.000000
421,1990,TRINCOMALEE,Yala,4000.000000,3529.000000,0.000000,0.000000,0.000000,0.000000
422,1990,KURUNEGALA,Yala,40257.000000,36784.000000,3323.000000,2822.000000,2221.000000,2667.000000
423,1990,PUTTALAM,Yala,4188.000000,3949.000000,3126.000000,2546.000000,5004.000000,3062.000000
424,1990,ANURADHAPURA,Yala,14722.000000,13720.000000,3372.000000,3207.000000,0.000000,3332.000000

In [26]:
from google.colab import files

# Save the preprocessed dataset first
df.to_csv("paddy_yield_preprocessed.csv", index=False)

# Download to your computer
files.download("paddy_yield_preprocessed.csv")